{% extends 'base.html.twig' %}

{% block body %}
<div>
    <p>
        Pour l'instant, tout va bien !
    </p>
    <div>
        <a href={{ url('traiter')}}>Commencer !</a>
    </div>
</div>
{% endblock %}
