{% extends 'base.html.twig' %}

{% block body %}
    Ici ça chiffrera !
    {{ form_start(msgForm) }}
    {{ form_widget(msgForm) }}
    <button>Ajouter</button>
    {{ form_end(msgForm) }}
{% endblock %}


