{% extends 'base.html.twig' %}

{% block body %}
    <div>
        Voilà le résultat :
    </div>
    <p>
        {{ resultat }}
    </p>
{% endblock %}

{% block title %}
    Résultat
{% endblock %}

